<div class="news">
    2023: Sensetime Scholarship (30 AI major undergraduates nationwide per year) <br>
    2023: Chinese National Scholarship (Highest honor for undergraduates in China, top 0.2%) <br>
    2023: Outstanding Overseas Exchange Scholarship <br>
    2023: Merit Student Pacemaker <br>
    2023: Academic Innovation Award <br>
    2022: Merit Student  <br>
    2022: China Optic Valley Scholarship <br>
    2022: Peking University Dean's Scholarship  <br>
    2021: Award for Community or Public Service, <br>
    2021: Peking University Scholarship <br>
    2020: Peking University Freshman Scholarship <br>
    2020: National College Entrance Examination (aka Gaokao), scored 1 below the highest score in Shanghai, ranking: 4/50000+ <br>
    2018-2019: Chinese Mathematics Olympiad (Shanghai Provincial), First Prize <br>

</div>
