<div class="news" style="font-size: smaller;">
    <ul>
        <li>2023: Sensetime Scholarship (30 AI major undergraduates nationwide per year)</li>
        <li>2023: Chinese National Scholarship (Highest honor for undergraduates in China, top 0.2%)</li>
        <li>2023: Outstanding Overseas Exchange Scholarship</li>
        <li>2023: Merit Student Pacemaker</li>
        <li>2023: Academic Innovation Award</li>
        <li>2022: Merit Student</li>
        <li>2022: China Optic Valley Scholarship</li>
        <li>2022: Peking University Dean's Scholarship</li>
        <li>2021: Award for Community or Public Service,</li>
        <li>2021: Peking University Scholarship</li>
        <li>2020: Peking University Freshman Scholarship</li>
        <li>2020: National College Entrance Examination (aka Gaokao), scored 1 below the highest score in Shanghai, ranking: 4/50000+</li>
        <li>2018-2019: Chinese Mathematics Olympiad (Shanghai Provincial), First Prize</li>
    </ul>
</div>
