<div style="font-size: 14px; font-family: Arial, sans-serif; color: #333;">
    <ul style="list-style-type: circle; padding-left: 20px;">
        <li style="margin-bottom: 5px"> Workshop Organizer: <a href="https://syndata4cv.github.io/">SynData4CV</a> @ CVPR 2025</li>
        <li style="margin-bottom: 5px;"> Conference Reviewer: CVPR 2024-2025, NeurIPS 2024-2025, WACV 2025, ICLR 2025, ICML 2025, ICCV 2025</li>
        <li style="margin-bottom: 5px"> Journal Reviewer: TIP, TCSVT, TOMM </li>
        <li style="margin-bottom: 5px"> Teaching Assistant: 3D Vision (CS6672 @ Cornell, Fall 2024); Practice of Programming in C&C++ (04831750 @ PKU, Spring 2023)</li>
    </ul>
</div>