<div style="font-size: 14px; font-family: Arial, sans-serif; color: #333;">
    <ul style="list-style-type: circle; padding-left: 20px;">
        <li style="margin-bottom: 5px"> Teaching Assistant: Practice of Programming in C&C++ (04831750 @ PKU, 2023 Spring)</li>
        <li style="margin-bottom: 5px"> Teaching Assistant: 3D Vision (CS6672 @ Cornell, 2024 Fall)
        <li style="margin-bottom: 5px;"> Conference Reviewer: CVPR 2024, NeurIPS 2024, WACV 2025</li>
        <li style="margin-bottom: 5px"> Journal Reviewer: TIP, TCSVT, TOMM </li>
    </ul>
</div>