---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header" style="display: flex; align-items: flex-start;">
    <div style="flex: 1;">
      <h1 class="post-title">
        {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name
        }}
        {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
      </h1>
      <p class="desc">{{ page.subtitle }}</p>
      <div class="clearfix">
        {{ content }}
      </div>
    </div>
    {% if page.profile %}
    <div class="profile" style="margin-left: 20px;">
      {%- if page.profile.image %}
      {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

      {% if page.profile.image_circular %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
      {% else %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
      {% endif %}

      {% include figure.html
      path=profile_image_path
      class=profile_image_class
      alt=page.profile.image -%}
      {% endif -%}
      {%- if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {%- endif %}
      <!-- <a href="https://hits.seeyoufarm.com">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fred-fairy.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false" 
            style="width: 100px; height: auto;"/>
      </a> -->
    </div>
    {% endif %}
  </header>

  <article>

    <!-- Latest posts -->
    {% if page.latest_posts -%}
    <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
    {%- include latest_posts.html %}
    {%- endif %}

    <br>

    <!-- Selected papers -->
    {% if page.selected_papers -%}
    <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Publications</a></h2>
    {%- include selected_papers.html %}
    {%- endif %}

    <!-- News -->
    {% if page.news and site.announcements.enabled -%}
    <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
    {%- include news.html limit=true %}
    {%- endif %}

    <!-- services -->
    {% if page.services -%}
    <h2>Academic Services</h2>
    {%- include services.html %}
    {%- endif %}

    <!-- Selected Honors and Awards-->
    {% if page.honors -%}
    <h2>Selected Honors and Awards</h2>
    {%- include honors.html %}
    {%- endif %}

    <!-- Social -->
    {%- if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>

      <div class="contact-note">
        {{ site.contact_note }}
      </div>

    </div>
    {%- endif %}

    <!-- Default Statcounter code for Personal Homepage https://red-fairy.github.io/-->
    <script type="text/javascript">
      var sc_project = 12961423;
      var sc_invisible = 1;
      var sc_security = "7e5555e2"; 
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
      <div class="statcounter"><a title="hit counter" href="https://statcounter.com/" target="_blank"><img
            class="statcounter" src="https://c.statcounter.com/12961423/0/7e5555e2/1/" alt="hit counter"
            referrerPolicy="no-referrer-when-downgrade"></a></div>
    </noscript>
    <!-- End of Statcounter Code -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z14L2YHJSR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z14L2YHJSR');
    </script>

  </article>

</div>